@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" enctype="multipart/form-data">
    <fieldset name="pdfdemo">
        <div class="row">
            <div class="col-3">
                <label class="form-label" asp-for="applicationType"></label>
            </div>
            <div class="col-4">
                <select class="form-control" asp-for="hasInsurance" asp-items="Html.GetEnumSelectList<ApplicationTypeEnum>()"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label class="form-label" asp-for="hasInsurance"></label>
            </div>
            <div class="col-4">
                <select class="form-control" asp-for="hasInsurance" asp-items="Html.GetEnumSelectList<TrueFalseEnum>()"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label class="form-label" asp-for="dmgAddressLine1"></label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="dmgAddressLine1" />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label class="form-label" asp-for="dmgAddressLine2"></label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="dmgAddressLine2" />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label class="form-label" asp-for="dmgCity"></label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="dmgCity" />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label class="form-label" asp-for="dmgProvince"></label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="dmgProvince" />
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label class="form-label" asp-for="dmgDescription"></label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="dmgDescription" height="4" />
            </div>
        </div>
    
        <hr />

        <div class="row">
            <div class="col-3">
                <label class="form-label" >Signature1</label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="noinsuranceSignatures[0].PrintName" />
                <input type="text" asp-for="noinsuranceSignatures[0].SignDate" />
                <input asp-for="noinsuranceSignatures[0].SigImagePicker" accept="image/*"/>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-3">
                <label class="form-label">Signature2</label>
            </div>
            <div class="col-4">
                <input type="text" asp-for="noinsuranceSignatures[1].PrintName" />
                <input type="text" asp-for="noinsuranceSignatures[1].SignDate" />
                <input asp-for="noinsuranceSignatures[1].SigImagePicker" accept="image/*"/>
            </div>
        </div>


    </fieldset>


    <div class="row">
        <div class="col-2">
            <input type="submit" name="btnSubmit" value="Generate PDF" asp-page-handler="GeneratePDF" />
        </div>
    </div>


</form>

<script type="text/javascript">

</script>