<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .page {
            /*
            height: 1500px;
            width: 1150px;
            */
            /*
            position: relative;
            display: block;
            page-break-after: avoid;
            border: solid 10px #666666;
            padding: 20px 20px;
            */
            /*
            font-family: arial, helvetica;
            margin: 5px 5px;

            */
        }
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #1d1212;
            padding: 0.5rem;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="page">

        <h1 style="color: cornflowerblue">Application &amp; Insurance</h1>
        <br />

        <table>
            <tr>
                <td width="25%">
                    Application Type:
                </td>
                <td>
                    {{applicationType}}

                </td>
            </tr>
            <tr>
                <td width="20%">
                    Do you have Insurance?
                </td>
                <td>
                    {{hasInsurance}}
                </td>
            </tr>
        </table>

        <hr />
        <h1 style="color: cornflowerblue">Damaged Property</h1>
        <br />

        <table>
            <tr>
                <td width="25%">
                    <strong>Address Line One:</strong>
                </td>
                <td>
                    {{dmgAddressLine1}}
                </td>
            </tr>
            <tr>
                <td width="25%">
                    <strong>Address Line Two:</strong>
                </td>
                <td>
                    {{dmgAddressLine2}}
                </td>
            </tr>
            <tr>
                <td width="25%">
                    <strong>City</strong>
                </td>
                <td>
                    {{dmgCity}}
                </td>
            </tr>
            <tr>
                <td width="25%">
                    <strong>Province</strong>
                </td>
                <td>
                    {{dmgProvince}}
                </td>
            </tr>
            <tr>
                <td width="25%">
                    <strong>Description</strong>
                </td>
                <td>
                    {{dmgDescription}}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table style="width: 100%">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                {{#arraysig signatures 0}}
                                <td width="25%">
                                    <strong>Signature1</strong>
                                </td>
                                <td width="25%">
                                    <p>
                                        {{PrintName}}
                                        {{SignDate}}
                                    </p>
                                </td>
                                {{/arraysig}}

                                {{#arraysig signatures 1}}
                                <td width="25%">
                                    <strong>Signature2</strong>
                                </td>
                                <td width="25%">
                                    <p>
                                        {{PrintName}}
                                        {{SignDate}}
                                    </p>
                                </td>
                                {{/arraysig}}
                            </tr>
                            <tr>
                                {{#arraysig signatures 0}}
                                <td colspan="2">
                                    <img width="200" height="189" src="data:{{SigImageFormat}};base64,{{SigImageDisplay}}"
                                        alt="signature1">
                                </td>
                                {{/arraysig}}

                                {{#arraysig signatures 1}}
                                <td colspan="2">
                                    <img width="200" height="189" src="data:{{SigImageFormat}};base64,{{SigImageDisplay}}"
                                        alt="signature1">
                                </td>
                                {{/arraysig}}
                            </tr>
                        </tbody>
                    </table>
                </td>  <!--colspan=2-->
            </tr>
        </table>
    </div>


</body>

</html>